// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.title {
  font-size: 30px;
  bottom:5px;
  color: #333333;
  margin-left:20px;
}

div.ih-btn {
  color:red;
}
