<style> 
.btn-group button {
  background-color: #248E6D; /* Green background */
  border: 1px solid black; /* Green border */ 
  border-radius: 5px;
  font-size:16px;
  color: white; /* White text */
  font-weight:normal;
  padding: 5px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  margin-right:20px;
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
.btn-group button:hover {
  background-color: #215952;
} 
h1 {
 text-align:center;
 font-size:44px;
}

</style>
<h1>Welcome to Data Viz</h1>

<div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%">
	
	<!--<span style="font-size:24px; line-height:5em;">A bioinformatics tool for visualizing ...</span>-->
	
		<div class="title btn-group">
			<button onclick="" style="width:260px;margin-left:-20px;display:inline-block">Analyze Patient Data</button>
			<!--<button onclick="" style="width:260px;margin-left:-20px;display:inline-block">Explore Database</button>-->
			<%= button_to "Explore Database", "/pages/:explorer", method: :get, :style => "width:260px;margin-left:-20px;display:inline-block;background-color: #248E6D;border: 1px solid black;border-radius: 5px;font-size:16px;color: white;font-weight:normal;padding: 5px 10px"%>
		</div>
		
    </div>
</div>

